<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SARS-CoV-2 Trends Dashboard</title>
    </head>

    <body>

        <form action="/">
        <select name="country_names">
            {% for feature in country_names %}
                {% if feature == current_country_name %}
                    <option selected value="{{ feature }}">{{ feature }}</option>
                {% else %}
                    <option value="{{ feature }}">{{ feature }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit">
        </form>

        {{ div_plot | safe }}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.3.4/bokeh.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.3.4/bokeh-widgets.min.js"></script>
        {{ script_plot | safe }}
    </body>
</html>